@import '../../App.scss';

.menu {
    padding: 0 20px;
    height: 80px;

    position: sticky;

    background: #333;
    color: #fff;

    top: 0;

    .menu-content {
        display: flex;

        .menu-leftside {
            width: 30%;

            h2 {
                font-size: 35px;
                height: 80px;
                line-height: 80px;
                margin: 0;
                cursor: pointer;
            }
        }

        .menu-rightside {
            width: 70%;

            .menu-nav {
                display: flex;
                justify-content: space-around;

                a {
                    height: 80px;
                    display: block;
                    line-height: 80px;
                    font-size: 25px;
                    cursor: pointer;

                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            .menu-leftside {
                width: 100%;
            }

            .menu-rightside {
                display: none;
            }
        }
    }


}
