@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.App {
  text-align: center;
  font-family: 'Montserrat'; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

body {
  background: #efefef; }

.section {
  width: 100%; }
  .section > div {
    max-width: 1200px;
    margin: 0 auto; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.about {
  background: #efefef;
  padding: 60px 0; }
  .about .about-story .about-title h1 {
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 60px; }
    .about .about-story .about-title h1:after {
      border: 5px solid #0f9ab0;
      border-radius: 10px;
      content: ' ';
      display: block;
      width: 60px;
      margin: 0 auto;
      margin-top: 10px; }
  .about .about-story .about-leftside, .about .about-story .about-rightside {
    width: 50%;
    float: left; }
  .about .about-story .about-leftside .img-cont {
    margin: 0 auto;
    width: 90%;
    height: auto;
    text-align: right; }
    .about .about-story .about-leftside .img-cont img {
      width: 100%;
      height: 100%;
      max-width: 520px;
      max-height: 600px;
      overflow: hidden;
      border: 5px solid #0f9ab0;
      box-sizing: border-box; }
  .about .about-story .about-rightside {
    text-align: left;
    font-size: 16px;
    line-height: 28px;
    max-width: 520px; }
    .about .about-story .about-rightside h3 {
      margin: 0;
      font-size: 25px; }
    .about .about-story .about-rightside button {
      width: 180px;
      text-align: center;
      background: #0f9ab0;
      color: #fff;
      padding: 12px 19px;
      border-radius: 25px;
      display: block;
      font-size: 18px;
      font-family: 'Montserrat'; }
  .about .about-info {
    padding: 30px;
    margin-top: 30px; }
    .about .about-info .my-info, .about .about-info .my-skills {
      float: left;
      padding: 0 10px;
      box-sizing: border-box; }
    .about .about-info .row {
      padding: 10px 0;
      border-bottom: 1px dashed #000; }
      .about .about-info .row .row-key {
        float: left; }
      .about .about-info .row .row-value {
        float: right; }
    .about .about-info .my-info {
      width: 45%; }
    .about .about-info .my-skills {
      width: 55%; }
      .about .about-info .my-skills .row .row-value {
        float: none; }
  @media (max-width: 767px) {
    .about .about-story .about-leftside, .about .about-story .about-rightside {
      width: 100%;
      float: none; }
      .about .about-story .about-leftside .img-cont, .about .about-story .about-rightside .img-cont {
        text-align: center; }
        .about .about-story .about-leftside .img-cont img, .about .about-story .about-rightside .img-cont img {
          max-width: 450px; }
    .about .about-story .about-rightside {
      max-width: 90%;
      margin: 20px auto;
      padding: 0 20px;
      margin-top: 60px;
      box-sizing: border-box;
      display: block; }
    .about .about-info .my-info, .about .about-info .my-skills {
      width: 100%;
      float: none;
      max-width: 480px;
      margin: 0 auto; } }
