.about {
    background: #efefef;
    padding: 20px;

    .about-story {

        .about-title {
            h1 {
                padding: 30px 0 50px;
                font-size: 40px;
                margin: 0 auto;
            }
        }

        .about-leftside, .about-rightside {
            width: 50%;
            float: left;
        }

        .about-leftside {
            .img-cont {
                margin: 0 auto;
                width: 90%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .about-rightside {
            text-align: left;
            font-size: 16px;
            line-height: 28px;

            h3 {
                margin: 0;
                font-size: 25px;
            }
        }
    }

    .about-info {
        margin: 50px;
        .my-info, .my-skills {
            float: left;
            padding: 0 10px;
            box-sizing: border-box;
        }
        .row {
            padding: 10px 0;
            border-bottom: 1px dashed #000;

            .row-key {
                float: left;
            }

            .row-value {
                float: right;
            }
        }

        .my-info {
            width: 45%;

        }

        .my-skills {
            width: 55%;

            .row .row-value {
                float: none;
            }
        }
    }
}
