@import '../../App.scss';

.contact {
    padding: 60px 0;
    background: #333;
    color: #fff;


    .contact-content {
        .contact-header {
            h1 {
                @include section-header;
            }
        }

        .contact-info {
            color: #000;
            padding: 0 30px;
            box-sizing: border-box;

            p {
                color: #fff;
                font-size: 25px;
                margin-bottom: 20px;

                a {
                  color: #fff;

                  &:hover {
                    color: #0f9ab0;
                  }
                }
            }
        }
    }
}
