.header {
  height: 800px;
  box-sizing: border-box;
  background: url("http://oi65.tinypic.com/2na72vb.jpg");
  padding-top: 20vh;
  background-size: cover;
  background-position: 0;
  background-attachment: fixed; }
  .header .header-content {
    user-select: none;
    color: #fff; }
    .header .header-content h3, .header .header-content h2, .header .header-content h4 {
      margin: 0;
      padding: 6px 0;
      text-transform: uppercase; }
    .header .header-content h2 {
      font-size: 55px;
      font-weight: 700; }
    .header .header-content h3 {
      font-size: 30px;
      font-weight: 600; }
    .header .header-content h4 {
      font-size: 25px;
      font-weight: 500; }
    .header .header-content .social-icons {
      display: flex;
      margin-top: 20px;
      justify-content: center; }
      .header .header-content .social-icons .icon {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 24px;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 10px;
        padding: 5px; }
        .header .header-content .social-icons .icon a {
          color: #fff; }
        .header .header-content .social-icons .icon:hover {
          background: rgba(255, 255, 255, 0.2); }
        .header .header-content .social-icons .icon:active {
          box-shadow: none;
          background: rgba(255, 255, 255, 0.4); }
    .header .header-content .scroll-icon {
      position: absolute;
      bottom: 10%;
      width: 100%;
      color: #efefef;
      font-size: 55px; }
