.header {
    height: 95vh;
    box-sizing: border-box;

    background: url('http://oi65.tinypic.com/2na72vb.jpg');
    // background: url('http://i66.tinypic.com/2d7c2t0.png');

    padding-top: 20vh;
    background-size: cover;
    background-position: 0;
    background-attachment: fixed;


    .header-content {
        user-select: none;
        color: #fff;


        h3, h2, h4 {
            margin: 0;
            padding: 6px 0;

            text-transform: uppercase;
        }

        h2 {
            font-size: 55px;
            font-weight: 700;
        }

        h3 {
            font-size: 30px;
            font-weight: 600;
        }

        h4 {
            font-size: 25px;
            font-weight: 500;
        }


        .social-icons {
            display: flex;
            margin-top: 20px;
            justify-content: center;

            .icon {
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: 24px;

                text-align: center;

                border: 1px solid #fff;
                border-radius: 50%;

                cursor: pointer;

                margin: 0 10px;

                padding: 5px;


                a {
                    color: #fff;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }

                &:active {
                    box-shadow: none;
                    background: rgba(255, 255, 255, 0.4);
                }
            }
        }

        .scroll-icon {
            position: absolute;
            bottom: 10%;
            width: 100%;
            color: #efefef;
            font-size: 55px;


            a { cursor: pointer; }

            // Add bounce animation to icon to show user to scroll down
        }
    }
}
