@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.App {
  text-align: center;
  font-family: 'Montserrat'; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

body {
  background: #efefef; }

.body {
  max-width: 1200px;
  margin: 0 auto; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.experience {
  background: #efefef;
  padding: 60px 0; }
  .experience .experience-content .experience-header h1 {
    margin: 0;
    font-size: 40px; }
    .experience .experience-content .experience-header h1:after {
      border: 5px solid #4896ab;
      border-radius: 10px;
      content: ' ';
      display: block;
      width: 60px;
      margin: 0 auto;
      margin-top: 10px; }
  .experience .experience-content .experience-list {
    text-align: left;
    padding: 50px 0; }
    .experience .experience-content .experience-list .experience-item {
      background: #fff;
      width: 85%;
      margin: 0 auto;
      padding: 40px 30px;
      box-sizing: border-box;
      border: 1px solid #333;
      box-shadow: 1px 1px 4px 1px #ccc; }
      .experience .experience-content .experience-list .experience-item:first-child {
        margin-bottom: 40px; }
      .experience .experience-content .experience-list .experience-item h3, .experience .experience-content .experience-list .experience-item h4, .experience .experience-content .experience-list .experience-item h5, .experience .experience-content .experience-list .experience-item p {
        padding: 6px 0;
        margin: 0; }
      .experience .experience-content .experience-list .experience-item .experience-item-header h3 {
        font-size: 25px; }
