@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$accent-color: #0f9ab0;


$screen-md-max: 1199px;
$screen-sm-max: 991px;
$screen-xs-max: 767px;




@mixin pill {
    border: 5px solid $accent-color;
    border-radius: 10px;
    content: ' ';
    display: block;
    width: 60px;
    margin: 0 auto;
    margin-top: 10px;
}

@mixin section-header {
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 80px;

    &:after {
        @include pill;
    }
}

@mixin button {
    width: 200px;
    text-align: center;
    background: #0f9ab0;
    color: #fff;
    padding: 12px 19px;
    border-radius: 25px;
    display: block;
    font-size: 18px;
    font-family: 'Montserrat';
    border: none;
    font-weight: bold;
    letter-spacing: 1.2px;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.App {
  text-align: center;
  font-family: 'Montserrat';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


body {
    background: #efefef;
}

.section {
    width: 100%;
    box-sizing: border-box;

    > div {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.body {
    position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
